In [1]:
from merge_years.import_data import get_full_data

In [2]:
df = get_full_data('../raw_data')

In [3]:
df

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,value,was_home,yellow_cards,GW,season,position,dreamteam_yearly_average,team_id,team_name,kickoff_date
0,aaron connolly,0,0,1,0,0.1,534,37,1,0,...,45,False,0,4,20,FWD,NaN,4.0,Brighton,2019-08-31
1,aaron connolly,0,0,1,0,0.3,534,43,1,0,...,45,True,0,5,20,FWD,NaN,4.0,Brighton,2019-09-14
2,aaron connolly,0,0,1,0,4.8,534,58,0,0,...,45,False,0,6,20,FWD,NaN,4.0,Brighton,2019-09-21
3,aaron connolly,0,0,2,0,0.6,534,63,1,0,...,45,False,0,7,20,FWD,NaN,4.0,Brighton,2019-09-28
4,aaron connolly,0,3,53,1,23.8,534,72,0,2,...,45,True,0,8,20,FWD,NaN,4.0,Brighton,2019-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114987,ørjan nyland,0,0,0,0,0.0,35,340,0,0,...,40,True,0,35,21,GK,0.0,2.0,Aston Villa,2021-05-09
114988,ørjan nyland,0,0,0,0,0.0,35,180,0,0,...,40,True,0,35,21,GK,0.0,2.0,Aston Villa,2021-05-13
114989,ørjan nyland,0,0,0,0,0.0,35,355,0,0,...,40,False,0,36,21,GK,0.0,2.0,Aston Villa,2021-05-16
114990,ørjan nyland,0,0,0,0,0.0,35,367,0,0,...,40,False,0,37,21,GK,0.0,2.0,Aston Villa,2021-05-19
114991,ørjan nyland,0,0,0,0,0.0,35,370,0,0,...,40,True,0,38,21,GK,0.0,2.0,Aston Villa,2021-05-23