In [1]:
from merge_years.import_data import get_full_data

In [2]:
df = get_full_data('../raw_data')

In [ ]:
pd.set

In [3]:
df.head(20)

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,yellow_cards,GW,season,position,dreamteam_yearly_average,team_id,team_name,opponent_level,team_level,kickoff_date
0,aaron connolly,0,0,1,0,0.1,534,37,1,0,...,0,4,20,FWD,NaN,4.0,Brighton,1330.0,1010.0,2019-08-31
1,aaron connolly,0,0,1,0,0.3,534,43,1,0,...,0,5,20,FWD,NaN,4.0,Brighton,1180.0,1050.0,2019-09-14
2,aaron connolly,0,0,1,0,4.8,534,58,0,0,...,0,6,20,FWD,NaN,4.0,Brighton,1090.0,1010.0,2019-09-21
3,aaron connolly,0,0,2,0,0.6,534,63,1,0,...,0,7,20,FWD,NaN,4.0,Brighton,1220.0,1010.0,2019-09-28
4,aaron connolly,0,3,53,1,23.8,534,72,0,2,...,0,8,20,FWD,NaN,4.0,Brighton,1240.0,1050.0,2019-10-05
5,aaron connolly,0,0,3,0,10.6,534,81,1,0,...,0,9,20,FWD,NaN,4.0,Brighton,1020.0,1010.0,2019-10-19
6,aaron connolly,2,0,22,0,0.3,534,92,2,0,...,0,10,20,FWD,NaN,4.0,Brighton,1240.0,1050.0,2019-10-26
7,aaron connolly,0,0,2,1,5.8,534,104,0,0,...,0,11,20,FWD,NaN,4.0,Brighton,1020.0,1050.0,2019-11-02
8,aaron connolly,0,0,-5,0,1.3,534,115,2,0,...,0,12,20,FWD,NaN,4.0,Brighton,1220.0,1010.0,2019-11-10
9,aaron connolly,0,0,0,0,0.0,534,124,0,0,...,0,13,20,FWD,NaN,4.0,Brighton,1160.0,1050.0,2019-11-23
10,aaron connolly,0,0,-1,0,1.7,534,134,2,0,...,0,14,20,FWD,NaN,4.0,Brighton,1340.0,1010.0,2019-11-30
11,aaron connolly,0,0,4,0,0.3,534,141,1,0,...,0,15,20,FWD,NaN,4.0,Brighton,1180.0,1010.0,2019-12-05
12,aaron connolly,0,0,0,0,0.0,534,153,0,0,...,0,16,20,FWD,NaN,4.0,Brighton,1190.0,1050.0,2019-12-08
13,aaron connolly,0,0,0,0,0.0,534,164,0,0,...,0,17,20,FWD,NaN,4.0,Brighton,1130.0,1010.0,2019-12-16
14,aaron connolly,0,0,-1,0,1.0,534,173,0,0,...,0,18,20,FWD,NaN,4.0,Brighton,1200.0,1050.0,2019-12-21
15,aaron connolly,0,0,1,0,1.3,534,189,1,0,...,0,19,20,FWD,NaN,4.0,Brighton,1180.0,1010.0,2019-12-26
16,aaron connolly,0,0,0,0,0.0,534,192,0,0,...,0,20,20,FWD,NaN,4.0,Brighton,1020.0,1050.0,2019-12-28
17,aaron connolly,0,0,-1,0,0.6,534,202,0,0,...,0,21,20,FWD,NaN,4.0,Brighton,1230.0,1050.0,2020-01-01
18,aaron connolly,0,0,0,0,0.0,534,215,0,0,...,0,22,20,FWD,NaN,4.0,Brighton,1100.0,1010.0,2020-01-11
19,aaron connolly,0,0,4,1,10.4,534,222,0,0,...,0,23,20,FWD,NaN,4.0,Brighton,1050.0,1050.0,2020-01-18

In [4]:
df.shape

(114992, 40)

In [6]:
df.to_pickle('../raw_data/final_dataset.pickle', protocol = 4)

In [ ]:
ls