In [1]:
import pandas as pd
import numpy as np

In [3]:
from fflpred.baseline_model.baseline import mov_a_error

In [4]:
from fflpred.baseline_model.baseline import predict_next

In [5]:
data = mov_a_error()

/Users/henrybichot/code/hbishow/fflpred/fflpred/baseline_model/baseline.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_player_df["moving_a"] = unique_player_df[f'{points}'].rolling(days,closed="left").mean()

In [6]:
data["error"].mean()

1.2748695206202674

In [7]:
predict_next("aaron connolly")

/Users/henrybichot/code/hbishow/fflpred/fflpred/baseline_model/baseline.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_player_df["moving_a"] = unique_player_df[f'{points}'].rolling(days,closed="left").mean()

0.3333333333333333

In [45]:
paul = data[data["name"] == "aaron connolly"][["name", "total_points", "moving_a", "error"]].tail(4)
paul

              name  total_points  moving_a     error
69  aaron connolly             0  0.333333  0.333333
70  aaron connolly             0  0.333333  0.333333
71  aaron connolly             0  0.000000  0.000000
72  aaron connolly             1  0.000000  1.000000

In [10]:
data

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,season,position,dreamteam_yearly_average,team_id,team_name,opponent_level,team_level,kickoff_date,moving_a,error
0,aaron connolly,0,0,1,0,0.1,534,37,1,0,...,20,FWD,NaN,4.0,Brighton,1330.0,1010.0,2019-08-31,NaN,NaN
1,aaron connolly,0,0,1,0,0.3,534,43,1,0,...,20,FWD,NaN,4.0,Brighton,1180.0,1050.0,2019-09-14,NaN,NaN
2,aaron connolly,0,0,1,0,4.8,534,58,0,0,...,20,FWD,NaN,4.0,Brighton,1090.0,1010.0,2019-09-21,NaN,NaN
3,aaron connolly,0,0,2,0,0.6,534,63,1,0,...,20,FWD,NaN,4.0,Brighton,1220.0,1010.0,2019-09-28,1.0,0.0
4,aaron connolly,0,3,53,1,23.8,534,72,0,2,...,20,FWD,NaN,4.0,Brighton,1240.0,1050.0,2019-10-05,1.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114987,ørjan nyland,0,0,0,0,0.0,35,340,0,0,...,21,GK,0.0,2.0,Aston Villa,1320.0,1100.0,2021-05-09,0.0,0.0
114988,ørjan nyland,0,0,0,0,0.0,35,180,0,0,...,21,GK,0.0,2.0,Aston Villa,1130.0,1100.0,2021-05-13,0.0,0.0
114989,ørjan nyland,0,0,0,0,0.0,35,355,0,0,...,21,GK,0.0,2.0,Aston Villa,1090.0,1160.0,2021-05-16,0.0,0.0
114990,ørjan nyland,0,0,0,0,0.0,35,367,0,0,...,21,GK,0.0,2.0,Aston Villa,1190.0,1160.0,2021-05-19,0.0,0.0
114991,ørjan nyland,0,0,0,0,0.0,35,370,0,0,...,21,GK,0.0,2.0,Aston Villa,1280.0,1100.0,2021-05-23,0.0,0.0