In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from merge_years.import_data import get_full_data

In [167]:
full_data = get_full_data('../raw_data')

In [131]:
team_data = full_data[["season","opponent_team","team_id","team_name","opponent_level","team_level"]]

In [132]:
full_data[full_data["team_id"]==1][["name","season","was_home","opponent_team","team_id", "team_name","opponent_level","team_level"]].head(2)

,name,season,was_home,opponent_team,team_id,team_name,opponent_level,team_level
3682,ainsley maitland-niles,20,False,13,1.0,Arsenal,1090.0,1240.0
3683,ainsley maitland-niles,20,True,5,1.0,Arsenal,1180.0,1180.0

In [163]:
levels = {1:[1290, 1355],2:[1290, 1330],3:[1235, 1255],4:[1235, 1255],5:[1240, 1260],6:[1220, 1210],7:[1210, 1220],8:[1190, 1245],9:[1170, 1185],10:[1180, 1155],11:[1125, 1100],12:[1075, 1155],13:[1085, 1105],14:[1110, 1115],15:[1055, 1055],16:[1085, 1080],17:[1040, 1060],18:[1055, 1060],19:[1040, 1150],20:[990, 1030]}

In [160]:
full_data[full_data['season']==17]

rank_2017 = {1: "Chelsea",2: "Tottenham Hotspur",3: "Manchester City",4: "Liverpool",5: "Arsenal",6: "Manchester United",7: "Everton",8: "Southampton",9: "Bournemouth",10:"West Bromwich Albion",11:"West Ham United",12:"Leicester City",13:"Stoke City",14:"Crystal Palace",15:"Swansea City",16:"Burnley",17:"Watford",18:"Hull City",19:"Middlesbrough",20:"Sunderland"}

In [161]:
full_data[full_data['season']==18]

rank_2018 = {1 : "Manchester City",2 : "Manchester United",3 : "Tottenham Hotspur",4 : "Liverpool",5 : "Chelsea",6 : "Arsenal",7 : "Burnley",8 : "Everton",9 : "Leicester City",10: "Newcastle United",11: "Crystal Palace",12: "Bournemouth",13: "West Ham United",14: "Watford",15: "Brighton & Hove Albion",16: "Huddersfield Town",17: "Southampton",18: "Swansea City",19: "Stoke City",20: "West Bromwich Albio"}

In [162]:
full_data[full_data['season']==19]

rank_2019 = {1: "Manchester City",2: "Liverpool",3: "Chelsea",4: "Tottenham Hotspur",5: "Arsenal",6: "Manchester United",7: "Wolverhampton Wanderers",8: "Everton",9: "Leicester City",10:"West Ham United",11:"Watford",12:"Crystal Palace",13:"Newcastle United",14:"Bournemouth",15:"Burnley",16:"Southampton",17:"Brighton & Hove Albion",18:"Cardiff City",19:"Fulham",20:"Huddersfield Town"}

In [189]:
data_17 = full_data[full_data.season == 17]

data_17.team_name.isnull().sum()

23679

In [196]:
data_17.opponent_team

73         4
74         2
75        10
76        18
77        19
          ..
114823    15
114824    10
114825     4
114826    13
114827     9
Name: opponent_team, Length: 23679, dtype: int64

In [ ]:
def team_level(df):
    data_17 = df[df.season == 17]
    for team in df.team_name.unique():