In [1]:
import pandas as pd
import numpy as np

In [2]:
from fflpred.baseline_model.baseline import mov_a_error

In [3]:
data = mov_a_error()

/Users/henrybichot/code/hbishow/fflpred/fflpred/baseline_model/baseline.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_player_df["moving_a"] = unique_player_df[f'{points}'].rolling(days,closed="left").mean()

In [10]:
data["error"].mean()

1.2751301670666

In [11]:
from merge_years.import_data import get_full_data
df = get_full_data('../raw_data')

In [46]:
def predict_next(player):
    players_list = data.name.unique()
    if player in players_list:
        player_df = data[data["name"] == player].tail(3)
    else:
        return "Player Unknown"
    return player_df['total_points'].mean()
predict_next("aaron connolly")

0.3333333333333333

In [47]:
df[df["name"] == "aaron connolly"]

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,season,position,kickoff_date
0,aaron connolly,0,0,1,0,0.1,534,37,1,0,...,0,0,0,45,False,0,4,20,FWD,2019-08-31
1,aaron connolly,0,0,1,0,0.3,534,43,1,0,...,10589,13500,2911,45,True,0,5,20,FWD,2019-09-14
2,aaron connolly,0,0,1,0,4.8,534,58,0,0,...,8090,11749,3659,45,False,0,6,20,FWD,2019-09-21
3,aaron connolly,0,0,2,0,0.6,534,63,1,0,...,8437,13439,5002,45,False,0,7,20,FWD,2019-09-28
4,aaron connolly,0,3,53,1,23.8,534,72,0,2,...,2156,5952,3796,45,True,0,8,20,FWD,2019-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,aaron connolly,0,0,0,0,0.0,78,329,0,0,...,-64,114,178,52,True,0,34,21,FWD,2021-05-01
69,aaron connolly,0,0,0,0,0.0,78,348,0,0,...,-89,109,198,52,False,0,35,21,FWD,2021-05-09
70,aaron connolly,0,0,0,0,0.0,78,349,0,0,...,-11,155,166,52,True,0,36,21,FWD,2021-05-15
71,aaron connolly,0,0,0,0,0.0,78,359,0,0,...,22,182,160,52,True,0,37,21,FWD,2021-05-18
72,aaron connolly,0,0,3,0,0.0,78,369,2,0,...,135,425,290,52,False,0,38,21,FWD,2021-05-23

In [45]:
paul = data[data["name"] == "aaron connolly"][["name", "total_points", "moving_a", "error"]].tail(4)
paul

              name  total_points  moving_a     error
69  aaron connolly             0  0.333333  0.333333
70  aaron connolly             0  0.333333  0.333333
71  aaron connolly             0  0.000000  0.000000
72  aaron connolly             1  0.000000  1.000000