In [ ]:
from merge_years.import_data import get_full_data
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
raw_df = get_full_data('./raw_data/')
raw_df.sort_values(['name','kickoff_date'], inplace = True)

In [3]:
raw_df.head()

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,season,position,kickoff_date
0,aaron connolly,0,0,1,0,0.1,534,37,1,0,...,0,0,0,45,False,0,4,20,FWD,2019-08-31
1,aaron connolly,0,0,1,0,0.3,534,43,1,0,...,10589,13500,2911,45,True,0,5,20,FWD,2019-09-14
2,aaron connolly,0,0,1,0,4.8,534,58,0,0,...,8090,11749,3659,45,False,0,6,20,FWD,2019-09-21
3,aaron connolly,0,0,2,0,0.6,534,63,1,0,...,8437,13439,5002,45,False,0,7,20,FWD,2019-09-28
4,aaron connolly,0,3,53,1,23.8,534,72,0,2,...,2156,5952,3796,45,True,0,8,20,FWD,2019-10-05

In [4]:
raw_df = raw_df[~raw_df.position.isnull()]

In [5]:
features = ['name','assists','bonus','goals_scored','goals_conceded',
            'opponent_team','transfers_balance','was_home','position',
           'saves','value','kickoff_date','total_points']
subset_df = raw_df[features]

In [12]:
subset_df.groupby('name').rolling(5,closed = 'left').mean().head(100)

                    assists  bonus  goals_scored  goals_conceded  \
name
aaron connolly  0       NaN    NaN           NaN             NaN
                1       NaN    NaN           NaN             NaN
                2       NaN    NaN           NaN             NaN
                3       NaN    NaN           NaN             NaN
                4       NaN    NaN           NaN             NaN
...                     ...    ...           ...             ...
aaron cresswell 95      0.0    0.0           0.0             1.0
                96      0.0    0.0           0.0             1.6
                97      0.0    0.0           0.0             1.6
                98      0.0    0.0           0.0             1.4
                99      0.0    0.0           0.0             1.6

                    opponent_team  transfers_balance  was_home  saves  value  \
name
aaron connolly  0             NaN                NaN       NaN    NaN    NaN
                1             NaN                NaN       NaN    NaN    NaN
                2             NaN                NaN       NaN    NaN    NaN
                3             NaN                NaN       NaN    NaN    NaN
                4             NaN                NaN       NaN    NaN    NaN
...                           ...                ...       ...    ...    ...
aaron cresswell 95           10.4             -333.6       0.4    0.0   53.0
                96            9.2             -467.2       0.6    0.0   53.0
                97           10.2             -493.6       0.6    0.0   53.0
                98           11.8             -408.4       0.6    0.0   52.8
                99           14.4             -473.2       0.4    0.0   52.6

                    total_points
name
aaron connolly  0            NaN
                1            NaN
                2            NaN
                3            NaN
                4            NaN
...                          ...
aaron cresswell 95           2.6
                96           2.2
                97           2.0
                98           2.0
                99           1.2

[100 rows x 10 columns]

In [10]:
subset_df.head(20)

,name,assists,bonus,goals_scored,goals_conceded,opponent_team,transfers_balance,was_home,position,saves,value,kickoff_date,total_points
0,aaron connolly,0,0,0,1,11,0,False,FWD,0,45,2019-08-31,1
1,aaron connolly,0,0,0,1,5,10589,True,FWD,0,45,2019-09-14,1
2,aaron connolly,0,0,0,0,13,8090,False,FWD,0,45,2019-09-21,1
3,aaron connolly,0,0,0,1,6,8437,False,FWD,0,45,2019-09-28,1
4,aaron connolly,0,3,2,0,17,2156,True,FWD,0,45,2019-10-05,13
5,aaron connolly,0,0,0,1,2,70802,False,FWD,0,45,2019-10-19,1
6,aaron connolly,2,0,0,2,8,34969,True,FWD,0,46,2019-10-26,8
7,aaron connolly,0,0,0,0,14,109148,True,FWD,0,46,2019-11-02,2
8,aaron connolly,0,0,0,2,12,-10884,False,FWD,0,47,2019-11-10,1
9,aaron connolly,0,0,0,0,9,-38688,True,FWD,0,47,2019-11-23,0
10,aaron connolly,0,0,0,2,10,-26463,False,FWD,0,47,2019-11-30,2
11,aaron connolly,0,0,0,1,1,-5486,False,FWD,0,47,2019-12-05,2
12,aaron connolly,0,0,0,0,20,-10984,True,FWD,0,47,2019-12-08,0
13,aaron connolly,0,0,0,0,7,-24288,False,FWD,0,46,2019-12-16,0
14,aaron connolly,0,0,0,0,15,-20915,True,FWD,0,46,2019-12-21,1
15,aaron connolly,0,0,0,1,17,-6317,False,FWD,0,46,2019-12-26,2
16,aaron connolly,0,0,0,0,3,-3504,True,FWD,0,45,2019-12-28,0
17,aaron connolly,0,0,0,0,6,-9091,True,FWD,0,45,2020-01-01,1
18,aaron connolly,0,0,0,0,8,-5106,False,FWD,0,44,2020-01-11,0
19,aaron connolly,0,0,0,0,2,-7853,True,FWD,0,44,2020-01-18,2